# Created by https://www.gitignore.io/api/netbeans

### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/

# End of https://www.gitignore.io/api/netbeans

# Other ignores
/logs/
/lib/
/doc/Fx.png
/doc/SerialVersionUidHint.java
/doc/Fx24.png
/doc/JavaFxPropertyAction.java
/doc/Fx-orig.png
/doc/metodoCompleto.java
/dados/
/docs/